.layout {
    width: 100vw;
    height: 100vh;
    .demo-logo-vertical {
        border-radius: 6px;
        height: 32px;
        margin: 16px;
        color: #ffffff;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}