.login {
    width: 100vw;
    height: 100vh;
    background:#000;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        border-radius: 13px;
        background-color: rgb(229, 229, 229);
        padding: 50px;
        width: 500px;
        // height: 200px;
        border: 1px solid #000;
        h2{
            text-align: center;
            padding-bottom: 25px;
        }
    }
}